body{
    background-color: rgb(131, 131, 240);
    color: rgb(183, 22, 121);
    text-decoration: underline;
    font-size: x-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}